<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="GuessingGame" asp-action="Game">Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Doctor" asp-action="FeverCheck">Check fever</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Check" asp-action="CheckAge">Check age</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Check" asp-action="SetSession">Set Session</a>
                        </li>
                        <!--check ändå för se om finns Session o Cookies-->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Check" asp-action="GetSession">Check Session and Cookie</a>
                        </li>
                        <!-- Begränsa itemen om inte finns Session och Cokkies-->
                        @if(Context.Session.GetString("Session") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Check" asp-action="GetSession">Get Session</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="People" asp-action="Index"> People </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Ajax" asp-action="Index"> Ajax </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
            @RenderBody()
    </div>

    <footer class="bg-info text-center text-lg-start fixed-bottom">
        <div class="container-fluid">
            &copy; @DateTime.Now   - Ali khawari
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</body>
</html>
