
@{
    ViewData["Title"] = "About";
}

<body>
    <div>
        <h1>About</h1>
    </div>
    <div>
        <ul>
            <li>Name : Ali </li>
            <li>Efter Name : kkkkkk </li>
            
        </ul>
    </div>
    <h7 style="border-style: ridge">About View till default Controller </h7>

</body>