
@{
    ViewData["Title"] = "Contact";
}

<body>
    <div>
        <h1>Contact</h1>
    </div>
    <div>
        <ul>
            <li>Tell : 07601414141 </li>
            <li>Email : ali.kkkkkkk@gmail.com </li>
        </ul>
    </div>
    <h7 style="border-style: ridge">Contact View till default Controller </h7>

</body>