
@{
    ViewData["Title"] = "Game";
}



<body>
    <div><h1>Game</h1></div>

    <div>
        <form asp-action="Game" method="post">
            <label>Please enter your guessing number  </label>
            <input type="number" placeholder="Please enter the number here " name="input" />  <!-- name för controller-->
            <input type="submit" value="Run" class="btn btn-primary" />
        </form>

        @if (ViewBag.Result != null)
        {
            <div>
                <h4 style="border-style: ridge">
                    <p>*Message*</p>
                    <p>Gusset Counter: @ViewBag.Counter</p>
                    <p>Your Guessed  : @ViewBag.Gusset</p>
                    <p>Your Gusset result : @ViewBag.Result</p>
                    

                </h4>
            </div>
        }
    </div>
    <h7 style="border-style: ridge">Game View till defult Controller </h7>

</body>