
@{
    ViewData["Title"] = "Projects";
}

<body>
    <div>
        <h1>Projects</h1>
    </div>
    <div>
        <ul>
            <li>
                <label>Description : An Web Application project with a few pages and link to that =>  </label>
                <a href="https://github.com/Alikh-2617/WebApplication3.git">WebApplication3 </a>
            </li>
            <li>
                <label>Description : An HTML Log in project and link to that => : </label>
                <a href="https://github.com/Alikh-2617/Uppgift1.git">Uppgift1</a>
            </li>
        </ul>
    </div>


    <h7 style="border-style: ridge">Projects View till default Controller </h7>

</body>
